:root {
  --bg-color-main: #f0f0f0; /* Blanco muy claro */
  --bg-color-secondary: #e0e0e0; /* Gris claro */
  --text-color-main: #333333; /* Gris oscuro */
  --link-color: #000000; /* Negro */
  --link-hover-color: #555555; /* Gris */
  --footer-bg-start: #333333; /* Gris oscuro */
  --footer-bg-end: #000000; /* Negro */
  --footer-shadow: rgba(0, 0, 0, 0.3); /* Sombra negra */
}

body {
  background: linear-gradient(135deg, var(--bg-color-main), var(--bg-color-secondary));
  color: var(--text-color-main);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

footer {
  background: linear-gradient(135deg, var(--footer-bg-start), var(--footer-bg-end));
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  margin-top: auto;
  box-shadow: 0 -4px 10px var(--footer-shadow);
}
